@media screen and (width < 420px) {
body {
	font-size: 3.5px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.menu-item {
	padding: 0px 5px;
	margin: 0px 3px;
}
.searcher {
	background-size: 7px;
	padding-left: 8px;
	display: none;
}

}