body {
	font-family: "DM Serif Display", serif;
	font-size: 10px;
	margin: 0;
	padding: 0;	
	background: url(../img/tmb_322098_482295.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

}
html {
	scroll-behavior: smooth;
}
.header {
	background: pink;
}
.header-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	margin: auto;
}
.logo {
	font-size: 3em;
}
.menu {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.menu-item {
	display: inline-block;
	padding: 0px 29px;
	margin: 0px 10px;
	line-height: 2;
}
.menu-link {
	text-decoration: none;
	font-size: 1.8em;
	color: black;
}
.menu-link:hover {
	color: white;
	background: black;
	transition: 0.6s;
}
.searcher {
	background: transparent;
	border: none;
	outline: none;
	color: black;
	font-size: 1.4em;
	background-size: 18px;
	background-repeat: no-repeat;
	padding-left: 25px;
}
.searcher:focus {
	border-bottom: 1px solid black;

}
.face {
	height: calc(100vh - 5.5em);
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.face::after {
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.515);
	position: absolute;
}
.face > .maska {
	z-index: 1;
	text-align: center;
}
.lob {
	font-size: 8em;
	color: #fff;
}
.brov {
	font-size: 4em;
	color: #fff;
}
.nos button {
	width: 250px;
	height: 80px;
}
.b-left {
	background: none ;
	color: white;
	border: 4px solid;
	transition: 1s;
}
.b-left:hover {
	background: #f2cbde ;
	color: black;
	border: 4px solid;
	transition: 1s;
}
.b-right {
	background: #f2cbde;
	color: black;
	border: 4px solid;
	transition: 1s;
}
.b-right:hover {
	background: none;
	color: white;
	border: 4px solid;
	transition: 1s;
}
.about {
	padding: 50px 0;
	text-align: center;
	background: pink;
}
.about-text h3 {
	font-size: 6em;
	margin: 20px 0;
}
.about-text p {
	font-size: 2.5em;
	margin: auto;
	margin: 20px 0;
}
.about-row {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

}
.about-col {
	width: calc(30% - 20px);
	padding: 10px
	min-width: 200px;
}
.about-col img {
	width: 50%;
}
.about-col p {
	font-size: 1.7em;
}
.servaises {
	padding: 30px 0;
	background: pink;
}
.conteiner {
	width: 70%;
	margin: auto;
}
.servaises-title {
	text-align: center;
}
.servaises-title h3 {
	font-size: 5em;
	color: black;
}
.servaises-title p {
	font-size: 2.2em;
	color: black;	
}
.shop {

}
.row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.col {
	width: 30%;
	min-height: 150px;
	min-width: 150px;
	margin-top: 20px;
}
.card {
	text-align: center;
	background: #cf466d;
	padding: 15px;
	border-radius: 20px;
	transition: 1s;
	box-shadow: -15px 10px darkgrey;
}
.card-img {
	width: 50%;
}
.card-title {
	font-size: 2em;
}
.card-descript {
	font-size: 1.5em;
}
.card-botton {
	width: 100%;
	background: pink;
	color: black;
	font-size: 2.5em;
	line-height: 2;
	border-radius: 20px;
	transition: 1s;
}
.card:hover {
	transform: scale(1.1);
	background: pink;
}
.card-botton:hover {
	background: black;
	color: pink;
}
.delitel {
	height: 300px;
}
.topper {
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: 40px;
	right: 40px;
	border-radius: 50%;
	background: black;
}